.idea/
*.iml
.gradle/
AutoEmply-server/.gradle/
AutoEmply-server/.gradle-home/
AutoEmply-server/.gradle-user-home/
AutoEmply-server/build/

AutoEmply-client/node_modules/
AutoEmply-client/dist/
AutoEmply-client/.vite/
.claude


*.log
.DS_Store
